/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.cross {
  width: 30px;
  height: 30px;
  /* position: relative; */
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: red;
  top: 50%;
  right: 2;
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  transform: translateY(-50%) rotate(-45deg);
}