@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}



body {
  margin: 0;
  padding: 0px;

  /* background: linear-gradient(90deg, rgba(6, 6, 16, 0.9585084033613446) 63%, rgba(1, 0, 13, 1) 74%, rgba(0, 0, 0, 1) 100%); */
  background: #020618;


  color: white;
  overflow-x: hidden;
}

.custom-toast-container {
  margin-top: 80px;

}

/* width: 260px;
  height: 30px;
  margin-left: 15px; */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(15, 23, 42); */
  background-color: rgba(7, 7, 24, 0.6);
  /* background-color: rgba(2, 6, 12, 0.6); */
  backdrop-filter: blur(0px);
  inset: 0px;
  z-index: 100;
  transition: all 0.5s;
  opacity: 1;
}

/* .hidden {
  visibility: hidden;
  opacity: 0;
} */


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE & Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}


.stickyNav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

/* Clears the 'X' from Internet Explorer/Edge */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  /* Also for IE/Edge to remove any other related icons */
  display: none;
  width: 0;
  height: 0;
}

/* Clears the 'X' from Chrome, Safari, and Opera (WebKit/Blink browsers) */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  /* You can also use -webkit-appearance: none; for these */
  -webkit-appearance: none;
  appearance: none;
}