@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}



body {
  margin: 0;
  padding: 0px;

  background: linear-gradient(90deg, rgba(6, 6, 16, 0.9585084033613446) 63%, rgba(1, 0, 13, 1) 74%, rgba(0, 0, 0, 1) 100%);

  color: white;
  overflow-x: hidden;
}

.custom-toast-container {
  position: absolute !important;
  bottom: 6rem !important;
  /* Equivalent to bottom-24 */
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(15, 23, 42); */
  background-color: rgba(7, 7, 24, 0.6);
  /* background-color: rgba(2, 6, 12, 0.6); */
  backdrop-filter: blur(0px);
  inset: 0px;
  z-index: 100;
  transition: all 0.5s;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE & Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}